<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="beanA" name="bean_A, bean_a, BEAN_A BEAN-A"
		class="CollectionBeanInjectionTraining.Classes.BeanA">
		<property name="beanB" ref="beanB" />
	</bean>

	<alias name="beanA" alias="a" />
	<alias name="beanA" alias="aa" />

	<bean id="beanB" class="CollectionBeanInjectionTraining.Classes.BeanB">
		<property name="beanC" ref="beanC" />
	</bean>
	
	<bean id="beanB2" class="CollectionBeanInjectionTraining.Classes.BeanB">
	</bean>

	<bean id="beanC" class="CollectionBeanInjectionTraining.Classes.BeanC">
	</bean>

	<bean id="beanA2" class="CollectionBeanInjectionTraining.Classes.BeanA">
		<property name="beanB" ref="beanB" />
	</bean>

	<bean id="5-beanA*"
		class="CollectionBeanInjectionTraining.Classes.BeanA">
		<property name="beanB" ref="beanB" />
	</bean>

</beans>
