<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:CalculatorExample/resources/fuctoions.xml"/>

    <bean id="calculator" class="CalculatorExample.Calculator">
        <property name="functions" >
            <map>
                <entry key="sin" value-ref="sin"/>
                <entry key="cos" value-ref="cos"/>
                <entry key="log" value-ref="log"/>
                <entry key="sqrt" value-ref="sqrt"/>
            </map>
        </property>
    </bean>

</beans>