<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customerService" class="ConstructorArgTraining.CustomerService">
        <!--Sadece property değil constructor ile de injection yapılabilir-->
        <constructor-arg ref="postgreSqlCustomerDAL"/>
    </bean>

    <bean id="mySqlCustomerDAL" class="ConstructorArgTraining.MySqlCustomerDAL">
        <property name="connectionString" value="--Bağlantı--"/>
    </bean>

    <bean id="postgreSqlCustomerDAL" class="ConstructorArgTraining.PostgreSqlCustomerDal">
        <property name="connectionString" value="--Bağlantı--"/>
    </bean>

    <!--
    Buradakiler constructor injection çeşitleridir

    <bean id="renderer1" class="tandardOutputRenderer">
        <constructor-arg name="greetingProvider" ref="helloProvider" />
    </bean>


    <bean id="helloProvider" name="hello_provider" HelloWorldGreetingProvider" />


    <bean id="renderer2" class="StandardOutputRenderer">
        <constructor-arg name="greetingProvider">
            <ref bean="hello_provider" />
        </constructor-arg>
    </bean>


    <bean id="renderer3" class="ErrorOutputRenderer">
        <property name="greetingProvider" ref="selam_provider" />
    </bean>


    <bean id="selamProvider" class="SelamGreetingProvider">
        <property name="greeting" value="Selaaaammm :)" />
    </bean>


    <alias name="selamProvider" alias="selam_provider" />


    <bean id="renderer4" class="StandardOutputRenderer">
        <constructor-arg name="greetingProvider">
            <bean class="SelamGreetingProvider">
                    <property name="greeting" value="Selam Millet :)" />
            </bean>
        </constructor-arg>
     </bean>


    <bean id="renderer5" class="StandardOutputRenderer">
    <constructor-arg name="greetingProvider">
        <null/>
    </constructor-arg>
    </bean>


    -->

</beans>