<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customerService" class="ConstructorArgTraining.CustomerService">
        <!--Sadece property değil constructor ile de injection yapılabilir-->
        <constructor-arg ref="postgreSqlCustomerDAL"/>
    </bean>

    <bean id="mySqlCustomerDAL" class="ConstructorArgTraining.MySqlCustomerDAL">
        <property name="connectionString" value="--Bağlantı--"/>
    </bean>

    <bean id="postgreSqlCustomerDAL" class="ConstructorArgTraining.PostgreSqlCustomerDal">
        <property name="connectionString" value="--Bağlantı--"/>
    </bean>

</beans>